body,
html {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

body {
    overflow-x: hidden;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.wrapper {
    font-family: 'PT Sans Caption', sans-serif;
    width: 1140px;
    padding: 0 17px;
}

.sign_up {
    width: 196px;
    height: 43px;
    border-radius: 50px;
}

.green {
    letter-spacing: 1px;
    border: none;
    color: #fff;
    background-color: #0dbc91;
}

.green:hover {
    background-color: #00D29F;
    transition: 0.5s;
    cursor: pointer;
}

.more {
    letter-spacing: 1px;
    background-color: transparent;
    border: 1px solid #0dbc91;
    color: #0dbc91;
}

.more:hover {
    background-color: #0DBC91;
    color: #FFF;
    transition: 0.5s;
    cursor: pointer;
}

@media (max-width: 540px) {
    .mobile {
        width: 137px;
    }
}