.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #08664F;

    height: 144px;
    width: 100%;

    margin-top: 160px;
}

.footer_content {
    display: flex;
    justify-content: space-between;
}

.navigation_footer {
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    padding-left: 15px;
}

.inst {
    padding: 0;
}

.whats {
    width: 35px;
}