.greet_block {
    height: 533px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f8fbfa;

    margin-bottom: 100px;
}

.info_greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    z-index: 1;
    width: 374px;
    height: 416px;
    background-color: rgba(248, 251, 250, 0.84);

    border-radius: 5px;
}

.greet_image {
    position: absolute;
    top: 110px;
    right: 0;
}

.greet_title {
    color: #364844;
    font-size: 36px;
    font-weight: 700;
}

.greet_description {
    color: #364844;
    font-size: 16px;
}