@media (max-width: 980px) {
    .info_greeting {
        width: 100%;
        padding: 0 30px;
    }

    .info_block {
        width: 374px;
    }
}

@media (max-width: 540px) {
    .greet_block {
        height: 100%;
        margin-top: 68px;
        flex-direction: column-reverse;
        align-items: normal;
        margin-bottom: 35px;
    }

    .greet_image {
        max-width: 100%;
        display: block;

        object-fit: contain;
        position: relative;
        top: 0;
    }

    .info_greeting {
        height: 261px;
    }

    .greet_title {
        width: 267px;
        font-size: 26px;
    }

    .greet_description {
        width: 340px;
        font-size: 14px;
    }
}