.popup_block {
    width: 100%;
    height: 100%;

    background-color: #45927FE5;
    justify-content: center;
    align-items: center;

    z-index: 2;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.popup_close {
    display: flex;
    justify-content: flex-end;

    & img {
        margin: 0 0 22px 0;
    }
}

.popup_close {
    cursor: pointer;
}

.popup_container {
    width: 100%;
}

.popup_body {
    padding: 60px 98px;
    background-color: #F8FBFA;
    display: flex;
    justify-content: space-between;

    border-radius: 5px;
}

.popup_title {
    max-width: 356px;
}

.title, .description {
    color: #364844;
}

.title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 16px;
}

.description {
    font-size: 16px;
    line-height: 23px;
}

.popup_form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 418px;
}

.form {
    padding: 0 0 0 16px;
    width: 100%;
    height: 39px;
    margin-bottom: 16px;
    border: 1px #E1E1E1 solid;
    border-radius: 2px;
}

.form:focus {
    outline: none;
    border: 1px #0dbc91 solid;
}

.button_container {
    margin-top: 15px;
}