@media (max-width: 540px) {
    .question {
        padding: 24px 94px 24px 24px;
    }
}

@media (max-width: 490px) {
    .question_block-title {
        text-align: left;
        font-size: 26px;
    }

    .question_title {
        font-size: 18px;
    }
}

@media (max-width: 425px) {
    .question {
        padding: 12px;
        margin-top: 14px;
    }

    .question .question_text {
        display: block!important;
        font-size: 14px;
    }

    .question img {
        display: none!important;
    }
}