.slider {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 440px;

    position: relative;
}

.slide.swiper-slide {
    display: flex;
    background-color: #E2F0EF;
    justify-content: space-between;
    align-items: center;

    height: 440px;

    border-radius: 5px;

    & img {
        position: absolute;
        right: 0;
        z-index: -2;
    }
}

.slider_title {
    padding-left: 63px;
    color: #364844;
}

.title_slide {
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    color: #364844;
    margin: 0;
}

.subtitle_slide {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.path {
    width: 590px;
    height: 100%;
    background-color: #E2F0EF;
    left: 22px;
    position: absolute;
    z-index: -1;
    clip-path: polygon(0 0,80% 0,100% 100%,0 100%);
}

.title_list {
    padding-left: 21px;
    margin: 16px 0 33px 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    line-height: 28px;
}

li::marker {
    color: #1fa181;
}

.price {
    display: flex;
    align-items: center;
}

.new_price {
    font-size: 20px;
    margin: 0;
}

.old_price {
    font-size: 16px;
    color: #868686;
    margin: 0 0 0 14px;
}

.slider_button {
    margin-top: 23px;
}

.slide_button {
    margin-right: 14px;
}

.swiper {
    height: 500px!important;
}

.swiper-pagination {
    font-size: 18px;
    color: #C0C0C0!important;
    top: 479px!important;
    letter-spacing: -2px;

    & .swiper-pagination-current {
        color: #364844;
    }
}

/*кнопки слайдера*/

.slider_bar {
    width: 1140px;
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: -69px;
    z-index: 1;
    height: 40px;
}

.swiper_button-prev {
    margin-right: 101px;
}

.arrow {
    background-color: #e1e1e1;
    border-radius: 50px;
    height: 2.8px;
    display: block;
    left: 0;
    position: relative;
    top: 20px;
    width: 34px;
}

.swiper_button-prev .arrow:after {
    background-color: #e1e1e1;
    border-radius: 50px;
    content: "";
    height: 2.8px;
    position: absolute;
    transform: rotate(-45deg);
    width: 13px;
    right: 22px;
    top: -4px;
}

.swiper_button-prev .arrow:before {
    background-color: #e1e1e1;
    border-radius: 50px;
    content: "";
    height: 2.8px;
    position: absolute;
    right: 22px;
    top: 4px;
    transform: rotate(45deg);
    width: 13px;
}

.swiper_button-next .arrow:after {
    content: "";
    position: absolute;
    right: -1px;
    top: -4px;
    transform: rotate(45deg);
    width: 13px;
    background-color: #e1e1e1;
    border-radius: 50px;
    height: 2.8px;
}

.swiper_button-next .arrow:before {
    background-color: #e1e1e1;
    border-radius: 50px;
    content: "";
    height: 2.8px;
    position: absolute;
    transform: rotate(-45deg);
    width: 13px;
    right: -1px;
    top: 4px;
}