@media (max-width: 855px) {
    .popup_body {
        padding: 22px 23px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        position: relative;
    }

    .popup_title {
        margin-bottom: 40px;
    }

    .description {
        margin: 0;
    }

    .title {
        margin: 0 0 12px 0;
    }
}

@media (max-width: 540px) {
    .popup_block {
        top: 66px;
    }

    .popup_container {
        position: relative;
        top: -96px;

        & img {
            display: none;
        }
    }

    .close {
        position: absolute;
        right: 20px;
        top: 30px;
        width: 28.28px;
        height: 2px;
        transform: rotate(45deg);
        background-color: #1FA181;
    }

    .close:after {
        content: '';
        position: absolute;
        transform: rotate(-90deg);
        width: 28.28px;
        height: 2px;
        background-color: #569B89;
    }
}

@media (max-width: 490px) {
    .popup_form {
        width: 277px;
    }

    .title {
        font-size: 26px;
    }

    .description {
        font-size: 14px;
    }

    .form {
        margin-bottom: 8px;
    }
}