@media (max-width: 768px) {
    .footer {
        height: 291px;
    }

    .footer_content {
        position: relative;
        flex-direction: column;
        align-items: flex-start;

        margin-top: 24px;
    }

    .navigation_footer {
        height: 100%;
    }

    .navigation_footer .container_nav {
        line-height: 33px;
        padding: 25px 0 0 0;

        display: flex;
        flex-direction: column;
    }

    .footer_social_bar {
        position: absolute;
        right: 0;
    }
}

@media (max-width: 540px) {
    .icon {
        width: 23px;
        padding-left: 20px;
    }
}