@import "styles/header.css";
@import "styles/header-mobile.css";
@import "styles/common.css";
@import "styles/greeting.css";
@import "styles/greeting-mobile.css";
@import "styles/questions.css";
@import "styles/questions-mobile.css";
@import "styles/slider.css";
@import "styles/slider-mobile.css";
@import "styles/footer.css";
@import "styles/footer-mobile.css";
@import "styles/popup.css";
@import "styles/popup-mobile.css";

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
